<h1>Current Player: {{ playerNormalized }} </h1>

<button mat-button (click)="newGame()">Start new Game</button>

<h2 *ngIf="winner">
  <span *ngIf="winner == 'X'; else aiwon">You won the game!</span>
  <ng-template #aiwon>
    The AI won the game, somehow...
  </ng-template>
</h2>


<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile
    *ngFor="let square of squares; let i = index"
    [colspan]="1"
    [rowspan]="1"
  >
    <app-square
      [value]="$any(square)"
      (click)="makeMove(i)"
    >
    </app-square>
  </mat-grid-tile>
</mat-grid-list>
